*{
	margin:0;
	padding:0;
	box-sizing: border-box;

	font-family: "Helvetica";
}

body{
	background-color: #821; 
}

.content{
	max-width:450px;
	max-height: 600px;

	height: 500px;
	
	padding: 3%;
	margin: 4% auto;

	background-color: #f3f3f3;
	
	border: 1px solid;
	border-radius: 100px 10px;

}

.content h1{
	text-align: center;

	margin-bottom: 15px;
}

input[type = text]{
	width: 80%;
	height: 30px;
	
	margin-bottom: 10px;

	text-align: center;

}

input[type = text]::placeholder{
	padding: 2px 8px;
}


input[type = button]{
	border: none;
	
	width: 17%;
	height: 32px;

	font-weight: bold;

	float: right;

}

input[type = button]:hover{
	background-color: #cc9;

}


button, input[type = button]{
	cursor: pointer;
	outline: none;
}

button{
	width: 25px;
	
	padding: 5px;

	border-radius: 50%;
	border-style: none;

	font-size: 12px;
	font-weight: bold;

	color: #821;

	float: right;
}

button:hover{
	background-color: #cc9;
	color: red;
}

ul{
	list-style: none;
	
	height: 300px;

	padding: 10px;

	background-color: #fff;

	overflow-y: auto;
}

li{
	height: 40px;

	margin: 15px 0;
	padding-left: 5px; 

	border-bottom: 1px solid;
}